/* Wat Cigret theme */

@font-face {
	font-family:'Comic Relief';
	font-style:normal;
	font-weight:400;
	src:url(//lilyblossom.neocities.org/comicrelief.woff) format('woff');
}

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

a {
	color:#0084EC;
}

/* Page Settings */
html {
	height:100%;
	width:100%;
}


body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-image:url('img/background.gif');
	background-position:206px 0px;
	font-family:"Comic Sans MS", "Comic Sans", "Comic Relief", sans-serif;
	font-size:16px;
	color:#DDDDDD;
}


.page {
	display:table;
	width:100%;
	height:100%;
	padding:0px 0px 0px 206px;
	margin:auto;
	text-align:center;
}


img {
	display:inline;
}
a img {
	border-style:none;
}


/* Ad Rotator */
.rotator {
	display:block;
	margin:5px auto;
}


/* Site Header */
header {
	display:block;
	padding:0px;
	margin:10px auto 15px auto;
	width:700px;
	text-align:center;
}
header a {
	border:2px solid #C8358D;
	background:url('img/logo.png') 0px 0px no-repeat;
	text-decoration:none;
	display:table;
	margin:0px;
	padding:0px;
	width:100%;
	height:100px;
}
header h1 {
	display:table-cell;
	vertical-align:middle;
	color:#0084EC;
	font-size:48px;
	margin:0px;
	padding:0px;
}
header h2 {
	v
	font-size:36px;
	margin:6px;
	padding:0px;
}


/* Main section of page, under logo and above footer */
.main {
	width:800px;
	max-width:800px;
	overflow:hidden;
	padding:0;
	margin:auto;
}


/* Fake Navigation Frame */
.main > nav {
	background-color:#626262;
	background:url('img/favicon.jpg') top center repeat-y;
	display:block;
	overflow:auto;
	z-index:1000;
	width:200px;
	height:100%;
	padding:0;
	margin:0;
	position:fixed;
	top:0;
	left:0;
	text-align:center;
}
.main > nav:before {
	content:"";
	display:block;
	width:6px;
	height:100%;
	position:fixed;
	top:0px;
	left:200px;
	cursor:auto;
}
.main > nav:after {
	display:block;
	margin-top:5px;
}
.main > nav h2 {
	color:#A67EBD;
	text-transform:uppercase;
	font-weight:normal;
	font-size:16px;
	margin:0;
}
.main > nav img {
	margin:5px;
}
.main > nav ul {
	display:block;
	list-style-type:none;
	border-top:3px solid #E9D8A2;
	border-left:3px solid #E9D8A2;
	border-right:3px solid #8D7425;
	border-bottom:3px solid #8D7425;
	background-color:#D1AD36;
	width:165px;
	margin:auto;
	padding:0px 3px;
	position:relative;
}
.main > nav ul li {
	display:block;
	width:100%;
	margin:3px 0px;
	padding:0;
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#57CD00;
}
.main > nav ul li a {
	display:block;
	padding:10px 3px;
	text-align:center;
	font-size:18px;
	width:100%;
}
.main > nav .menu > p {
	display:block;
	margin:0;
	padding:0;
	border:0px;
	font-size:16px;
	color:#000000;
}
.main > nav .menu > p:after {
	content:":";
}
.main > nav ul ul {
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
	border:0px;
	position:relative;
}
.main > nav ul ul li {
	display:block;
	width:100%;
	margin:0;
	padding:2px 0px;
	border:0;
}
.main > nav ul ul li a {
	display:block;
	margin:0;
	padding:0;
	width:100%;
	border:0px;
	font-size:14px;
}


/* Enlarged Text*/
em {
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
	font-size:130%;
}

/* Blinking Text */
strong {
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
	animation:blink 1s step-end infinite;
}
@keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
}

/* Marquee (Beta) */
.marquee {
	width:800px;
	margin:auto;
	position:relative;
	overflow:hidden;
	background:#DDDDDD;
}
.marquee p {
	/* width:200%; */
	display:inline;
	padding:0px;
	margin:0px;
	position:relative;
	animation:marquee 10s linear infinite;
}
@keyframes marquee {
	0% {left:100%;}
	100% {left:-100%;}
}

/* Papyrus font */
.mystery {
	font-family: Papyrus, "Book Antiqua", Palatino, serif;
}


/* Separate Information Box */
.info {
	border-bottom:2px solid #C8358D;
	margin:0px auto 15px auto;
	padding:10px;
	display:table;
	width:100%;
	position:relative;
}
.info p {
	margin:0px;
}



/* Main Content Box */
.content {
	margin:0px auto;
	padding:0px;
	width:780px;
	border-top:2px solid #C8358D;
	border-bottom:2px solid #C8358D;
}
article {
	/* nil */
}
article p {
	margin:0px 0px 12px 0px;
}
article p:last-child {
	margin-bottom:0px;
}
article ul, article ol {
	width:80%;
	margin:0px auto 12px auto;
	text-align:left;
	font-size:14px;
}
article ul ul, article ul ol, article ol ul, article ol ol {
	width:100%;
}


/* Generic Page */
.generic {
	margin:20px auto;
	padding:0px;
	display:table;
	width:90%;
	position:relative;
}
.generic h1 {
	color:#000000;
	font-size:24px;
	margin:0px 0px 10px 0px;
}

/* Homepage Post Specific */
.post {
	margin:70px auto 70px auto;
	padding:0px;
	display:table;
	width:90%;
	position:relative;
}
.post:before {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:70px;
	top:-70px;
}
article.last:after, .post:last-child:after {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:70px;
	bottom:-70px;
}
.post h1 {
	color:#00D0EC;
	font-size:32px;
	margin:0px 0px 6px;
}
.post .date {
	margin:0px 0px 20px 0px;
	font-size:12px;
}
.post .sig {
	display:none;
}

/* Data page table layout */
.data {
	background-color:#FFFFFF;
	border-top:1px solid #D2D2D2;
	border-left:1px solid #D2D2D2;
	border-right:1px solid #4C4C4C;
	border-bottom:1px solid #4C4C4C;
	border-collapse:separate;
	border-spacing:2px;
	text-align:left;
	margin:20px auto;
	padding:1px;
	width:760px;
	display:block;
	position:relative;
}
.data h1 {
	position:absolute;
	left:160px;
	font-size:24px;
	color:#000000;
	margin:0px;
	padding:0px;
}
.data p {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	margin:0px;
	padding:35px 5px 5px 5px;
	width:602px;
	display:table-cell;
	text-align:left;
	vertical-align:middle;
}
.data > figure {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	margin-right:2px;
	padding:2px;
	width:150px;
	min-width:150px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
}
.data .imgcl img, .data > figure.left img {
	max-width:144px;
	max-height:146px;
}
.data .imgcr img, .data > figure.right img {
	max-width:144px;
	max-height:146px;
}

/* Gallery page table layout */
.gallery {
	margin:0px auto;
	padding:0px;
	display:table;
	width:100%;
	position:relative;
}
.gallery h1 {
	color:#A67EBD;
	font-size:40px;
	width:100%;
	padding:0px;
	margin:0px;
	clear:both;
	display:block;
}
.gallery h1:before {
	content:"~~ ";
}
.gallery h1:after {
	content:" ~~";
}
.gallery figure {
	background-color:#FFFFFF;
	border-top:1px solid #D2D2D2;
	border-left:1px solid #D2D2D2;
	border-right:1px solid #4C4C4C;
	border-bottom:1px solid #4C4C4C;
	width:240px;
	overflow:hidden;
	padding:3px;
	margin:20px 5px;
	display:inline-block;
	vertical-align:top;
}
.gallery figure img {
	max-width:226px;
	max-height:226px;
}
.gallery figure > a, .gallery figcaption {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	display:block;
	width:100%;
	margin:0px 0px 3px 0px;
	padding:2px;
	font-size:14px;
}
.gallery figcaption:last-child {
	margin-bottom:0px;
}

/* Wikipedia-like Superscript Notes */
i.sup {
	font-family:sans-serif;
	font-size:9.93333px;
	line-height:9.93333px;
	color:rgb(6, 69, 173);
	vertical-align:super;
}
i.sup:before {
	color:#000000;
	font-style:normal;
	content:"[";
}
i.sup:after {
	color:#000000;
	font-style:normal;
	content:"]";
}


/* Quote Box */
blockquote {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#EEF27C;
	text-align:center;
	font-size:14px;
	padding:2px;
	margin:12px auto;
	width:80%;
	display:table;
	position:relative;
}

/* Fake Table for Quote and Captioned Images */
blockquote:before, .post figure:before, .generic figure:before {
	content:"";
	z-index:-5;
	border-top:1px solid #E9D8A2;
	border-left:1px solid #E9D8A2;
	border-right:1px solid #8D7425;
	border-bottom:1px solid #8D7425;
	background-color:#D1AD36;
	position:absolute;
	top:-3px;
	right:-3px;
	bottom:-3px;
	left:-3px;
}

/* Captioned Image Boxes */
.post figure, .generic figure {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#EEF27C;
	margin:6px;
	padding:2px;
	display:table;
	position:relative;
}
.post figure.thumb, .generic figure.thumb {
	width:160px;
}
.post figure.right, .generic figure.right, .post figure.imgcr, .generic figure.imgcr {
	float:right;
	clear:left;
	margin-left:10px;
}
.post figure.left, .generic figure.left, .post figure.imgcl, .generic figure.imgcl {
	float:left;
	clear:right;
	margin-right:10px;
}
.post figure.center, .generic figure.center, .post figure.imgcc, .generic figure.imgcc {
	clear:both;
	margin:16px auto;
}
.post figure img, .generic figure img {
	display:block;
	margin:0px auto;
}
.post figure.thumb img, .generic figure.thumb img {
	max-width:150px;
	max-height:150px;
}
.post figcaption, .generic figcaption {
	font-size:14px;
	text-align:center;
}
.links figure {
	width:650px;
	padding:5px;
	margin-bottom:30px !important; /* bah */
}
.links figcaption {
	margin-top:10px;
	font-size:16px;
}



/* Table Formatting */
table {
	border-collapse:separate;
	border-spacing:2px;
	border-top:1px solid #E9D8A2;
	border-left:1px solid #E9D8A2;
	border-right:1px solid #8D7425;
	border-bottom:1px solid #8D7425;
	background-color:#D1AD36;
	margin:auto;
	padding:0;
	width:90%;
}
td {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#EEF27C;
	text-align:center;
	font-size:14px;
	padding:2px;
	vertical-align:top;
}
th {
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#D1AD36;
	color:#EEF27C;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:2px;
	vertical-align:top;
}


/* Extra Content */
.extrabar {
	margin:10px auto 0px auto;
	padding:0px 0px 10px 0px;
	width:780px;
	border-bottom:2px solid #C8358D;
}
.extrabar p {
	padding:0px;
	text-align:center;
}
.extrabar img {
	margin:2px;
	padding:0;
}
.extrabar nav {
	margin:0 auto;
	padding:5px;
	display:table;
}
.extrabar nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	font-size:14px;
}
.extrabar nav > ul {
	display:block;
	list-style-type:none;
	border-top:3px solid #E9D8A2;
	border-left:3px solid #E9D8A2;
	border-right:3px solid #8D7425;
	border-bottom:3px solid #8D7425;
	background-color:#D1AD36;
	margin:0;
	padding:0px 3px;
}
.extrabar nav > ul > li {
	display:block;
	width:100%;
	margin:3px 0px;
	padding:2px 4px 4px 4px;
	border-top:1px solid #4C4C4C;
	border-left:1px solid #4C4C4C;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	background-color:#EEF27C;
}
.extrabar ul ul {
	display:block;
}
.extrabar ul ul li {
	display:inline;
	margin:0;
	padding:4px;
}
.extrabar nav > ul > li > a, .extrabar nav > ul > li > p {
	font-size:16px;
	margin:0;
	padding:0;
}
.extrabar nav li p:after {
	content:":";
}


/* Page Footer */
.foot {
	font-size:14px;
	width:800px;
	max-width:800px;
	overflow:hidden;
	padding:5px;
	margin:auto;
}


/* Generic Positioning Classes */
.right {
	float:right;
}
.left {
	float:left;
}
.center {
	text-align:center;
}
